* {
    box-sizing: border-box;
}

.calculator {
    border: 1px solid gray;
    margin: 2rem auto;
    width: 400px;
}

input {
    height: 3rem;
    margin: 10px;
    width: 380px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.buttons__sign {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sign {
    background-color: rgb(205, 205, 205);
    border: 1px solid #808080;
    margin-bottom: 10px;
    padding: 16px 32px;    
    justify-content: space-around;
}

.buttons__main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttons__numbers {    
    flex: 75%;    
}

.buttons__numbersPart {
    display: flex;    
    justify-content: space-around;
}

.buttons__equal {
    display: flex;
    flex: 25%;
    justify-content: center;
}

.number {
    background-color: rgb(252, 252, 252);
    border: 1px solid gray;
    margin-bottom: 10px;
    padding: 16px 32px;
    justify-content: center;    
}

.equal {
    align-self: stretch;
    background-color: rgb(6, 183, 253);
    border: 1px solid rgb(6, 183, 253);    
    margin-bottom: 10px;    
    padding: 0 32px;    
}